@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MovieForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Title</h2>
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.MovieGenreId)
        @Html.DropDownListFor(model => model.MovieGenreId, new SelectList(Model.MovieGenres, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MovieGenreId)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ReleasedDate)
        @Html.TextBoxFor(model => model.ReleasedDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ReleasedDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.InStock)
        @Html.TextBoxFor(model => model.InStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.InStock)
    </div>
    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

